<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru_RU">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<head>
  <meta charset="utf-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet"/>
  <title></title>
</head>
<body class="bg-light">
<nav class="navbar sticky-top navbar-dark bg-dark">
  <input th:value="${login}" hidden id="data-account"/>
  <div id="navbar" class="container-fluid"></div>
</nav>
<div class="row mx-auto">
  <div class="col-2">
    <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-mdb-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Dashboard</a>
      <a class="nav-link" id="v-pills-profile-tab" data-mdb-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">News feed</a>
      <a class="nav-link" id="v-pills-messages-tab" data-mdb-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
    </div>
  </div>

  <div class="col-10">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <p class="display-4 mt-3">Dashboard</p>
        <ul class="nav nav-tabs mb-3" id="myTab0" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab0" data-mdb-toggle="tab" data-mdb-target="#home0" type="button" role="tab" aria-controls="home" aria-selected="true">
              Users list
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab0" data-mdb-toggle="tab" data-mdb-target="#profile0" type="button" role="tab" aria-controls="profile" aria-selected="false">
              Create new profile
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab0" data-mdb-toggle="tab" data-mdb-target="#contact0" type="button" role="tab" aria-controls="contact" aria-selected="false">
              Contact
            </button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent0">
          <div class="tab-pane fade show active" id="home0" role="tabpanel" aria-labelledby="home-tab0">
            <div class="mt-5">
              <table class="table table-sm table-hover">
                <thead class="table-dark">
                <tr>
                  <th hidden>Id</th>
                  <th>Name</th>
                  <th>Last name</th>
                  <th>Birthday</th>
                  <th>City</th>
                  <th>Workplace</th>
                  <th>Login</th>
                  <th>Authorities</th>
                  <th>Locked</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody id="users" data-users></tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="profile0" role="tabpanel" aria-labelledby="profile-tab0">
            <div class="col-md-4 offset-md-4 my-5">
              <h1 class="display-6">Create new profile</h1>
            </div>
            <div class="col-md-4 offset-md-4">
              <form id="registration">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="create-name">Name: </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="create-name" name="create-name">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="create-last">Last name:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="create-last" name="create-last">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="create-birthday">Birthday:</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="create-birthday" name="create-birthday">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="create-city">City:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="create-city" name="create-city">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="create-workplace">Workplace:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="create-workplace" name="create-workplace">
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="create-login">Login:</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" id="create-login" name="create-login">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="create-password">Password:</label>
                  <div class="col-sm-8">
                    <input type="password" class="form-control" id="create-password" name="create-password">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="create-confirm">Confirm password:</label>
                  <div class="col-sm-8">
                    <input type="password" class="form-control" id="create-confirm" name="create-confirm">
                  </div>
                </div>
                <div class="modal-footer mt-5">
                  <table>
                    <tr>
                      <td class="p-3">
                        <button type="reset" class="btn btn-primary" th:form="registration">Clean</button>
                      </td>
                      <td>
                        <button id="create" name="create" class="btn btn-primary" type="submit" th:form="registration">Registration</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </form>
            </div>
          </div>
          <div class="tab-pane fade" id="contact0" role="tabpanel" aria-labelledby="contact-tab0">
            Tab 3 content
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
<!--        -->
        <div class="col-md-6 offset-md-3 my-5">
          <div class="card mb-3">
            <div id="user-info" class="row g-0"></div>
          </div>
        </div>
        <div id="articles" class="col-md-6 offset-md-3 my-5"></div>
<!--        -->
      </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        TICKETS
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmModal" aria-hidden="true" aria-labelledby="confirmModalLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" delete-title id="confirmModalLabel"></h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="display-h4 mt-3 text-center text-success">successfully completed</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-mdb-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="editModal modal fade" id="editModal" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ifNeedHeaderEditModal" style="display: none">PROFILE EDIT FORM</h5>
        <h5 class="modal-title" id="ifNeedHeaderForDeleteModal" style="display: none">DELETING A PROFILE</h5>

        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="ifDeleteModal" style="display: none" class="display-h4 text-center text-danger">Be careful! Account data will be permanently deleted</p>
        <form id="edit">
          <div hidden class="form-group row">
            <label class="col-sm-4 col-form-label" for="edit-id">Id:</label>
            <div class="col-sm-8">
              <input class="form-control" id="edit-id" type="text" data-id>
            </div>
          </div>

          <div id="ifEditName" class="form-group row mt-3">
            <label class="col-sm-4 col-form-label" for="edit-name">Name:</label>
            <div class="col-sm-8">
              <input class="form-control" id="edit-name" type="text" data-name>
            </div>
          </div>

          <div id="ifEditLast" class="form-group row mt-3">
            <label class="col-sm-4 col-form-label" for="edit-last">Last name:</label>
            <div class="col-sm-8">
              <input class="form-control" id="edit-last" type="text" data-last>
            </div>
          </div>

          <div id="ifEditBirthday" class="form-group row mt-3">
            <label class="col-sm-4 col-form-label" for="edit-birthday">Birthday:</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="edit-birthday" data-birthday>
            </div>
          </div>

          <div id="ifEditCity" class="form-group row mt-3">
            <label class="col-sm-4 col-form-label" for="edit-city">City:</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="edit-city" data-city>
            </div>
          </div>

          <div id="ifEditWorkplace" class="form-group row mt-3">
            <label class="col-sm-4 col-form-label" for="edit-workplace">Workplace:</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="edit-workplace" data-workplace>
            </div>
          </div>

          <hr id="ifNeedHrLine">

          <div id="ifEditLogin" class="form-group row mt-3">
            <label class="col-sm-4 col-form-label" for="edit-login">Login:</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="edit-login" data-login>
            </div>
          </div>

          <div id="ifEditPassword" class="form-group row mt-3">
            <label class="col-sm-4 col-form-label" for="edit-password">Password:</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="edit-password" data-password>
            </div>
          </div>

          <div id="ifEditConfirmPassword" class="form-group row mt-3">
            <label class="col-sm-4 col-form-label" for="edit-confirm">Confirm password:</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="edit-confirm" data-confirm>
            </div>
          </div>

          <div id="ifEditRole" class="form-group row mt-3">
            <label class="col-sm-4 col-form-label" for="role">Role:</label>
            <div class="col-sm-8">
              <select id="role" name="role" class="form-select" aria-label="Default select example">
                <option selected></option>
                <option value="user">user</option>
                <option value="admin">admin</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div id="editButtons" class="modal-footer">
        <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Close</button>
        <button id="ifNeedClearButtonInModal" style="display: none" type="reset" class="btn btn-primary" form="edit">Clean</button>
        <button id="ifNeedEditButtonInModal" style="display: none" type="submit" class="btn btn-primary"  value="Update">Update</button>
        <button id="ifNeedDeleteButtonInModal" style="display: none" type="submit" class="btn btn-primary" value="Delete">Delete</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
<script src="getUserInfo.js" type="text/javascript"></script>
<script src="admin.js" type="text/javascript"></script>

</body>
</html>