<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru_RU">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<head>
  <meta charset="utf-8">
  <title th:text="${account.login}"></title>
</head>
<body class="bg-light">
<div>
  <table>
    <td><a th:href="@{/logout}" th:text="${'Sign out'}"></a></td>
    <td><a th:href="@{/registration}">REGISTRATION</a></td>
  </table>
  <strong th:each="r: ${account.roles}">
    <h3 th:text="${account.name + ' ' + account.lastName + '   ' + r.role}"></h3>
  </strong>
  <form method="POST" th:action="@{'{id}'(id=${user.id})}" th:id="edit">
    <div>
      <label for="id">Id:</label>
      <div>
        <input id="id" type="text" placeholder="Disabled input" th:field="*{user.id}">
      </div>
    </div>

    <div class="form-group row">
      <label for="name">Name:</label>
      <div>
        <input id="name" type="text" th:field="*{user.name}">
      </div>
    </div>

    <div>
      <label for="last">Last name:</label>
      <div>
        <input id="last" type="text" th:field="*{user.lastName}">
      </div>
    </div>

    <div>
      <label for="age">Age:</label>
      <div>
        <input type="number" id="age" th:field="*{user.age}">
      </div>
    </div>

    <div>
      <label for="login">Login:</label>
      <div class="col-sm-8">
        <input type="email" id="login" th:field="*{user.login}">
      </div>
    </div>

    <div>
      <label for="password">Password:</label>
      <div>
        <input type="password" id="password" th:field="*{user.password}">
      </div>
    </div>

    <div>
      <label for="confirm">Confirm password:</label>
      <div>
        <input type="password" class="form-control" id="confirm" th:field="*{user.confirmPassword}">
      </div>
    </div>

    <div>
      <label for="role">Role:</label>
      <div>
        <select th:each="role:${user.roles}" id="role" name="role" aria-label="Default select example">
          <option selected></option>
          <option th:value="${'admin'}">admin</option>
          <option th:value="${'user'}">user</option>
        </select>
      </div>

      <table>
        <tr>
          <td>
            <button type="reset" th:form="edit">Clean</button>
          </td>
          <td>
            <button type="submit" th:form="edit">Update</button>
          </td>
        </tr>
      </table>
    </div>

  </form>
</div>
</body>
</html>