<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru_RU">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<head>
  <meta charset="utf-8">
  <title th:if="${account} != null" th:text="${account.login}"></title>
</head>
<body>
  <div>
    <a th:if="${account} == null" th:href="@{/login}" th:text="${'Sign in'}"></a>
    <a th:if="${account} != null" th:href="@{/logout}" th:text="${'Sign out'}"></a>
    <ul>
      <li th:if="${account} != null">
        <a href="#">
          <strong th:each="role: ${account.roles}" th:switch="${role.role}">
            <span th:case="'ROLE_ADMIN'" th:text="${account.name +' status: administrator'}"></span>
            <span th:case="'ROLE_USER'" th:text="${account.name}"></span>
          </strong>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>