<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru_RU">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<head>
    <meta charset="utf-8">
    <title th:text="${account.login}"></title>
</head>
<body class="bg-light">
<div>
    <table>
        <td><a th:href="@{/logout}" th:text="${'Sign out'}"></a></td>
        <td></td>
        <td><a th:href="@{/admin}">Back</a></td>
    </table>
</div>
<strong th:each="r: ${account.roles}">
    <h3 th:text="${account.name + ' ' + account.lastName + '   ' + r.role}"></h3>
</strong>
<div>
    <h1>New user</h1>
</div>
<div>
    <form th:method="POST" th:action="@{''}" th:id="registration">
        <div>
            <label for="name">Name: </label>
            <div>
                <input id="name" type="text" th:field="*{user.name}">
            </div>
        </div>

        <div>
            <label for="last">Last name:</label>
            <div>
                <input id="last" type="text" th:field="*{user.lastName}">
            </div>
        </div>

        <div>
            <label for="age">Age:</label>
            <div>
                <input id="age" type="number" th:field="*{user.age}">
            </div>
        </div>

        <div>
            <label for="login">Login:</label>
            <div >
                <input type="email" id="login" th:field="*{user.login}">
            </div>
        </div>

        <div>
            <label for="password">Password:</label>
            <div>
                <input type="password" id="password" th:field="*{user.password}">
            </div>
        </div>

        <div>
            <label for="confirm">Confirm password:</label>
            <div>
                <input type="password" id="confirm" th:field="*{user.confirmPassword}">
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <button type="reset" th:form="registration">Clean</button>
                    </td>
                    <td>
                        <button type="submit" th:form="registration">Registration</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
</body>
</html>