<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru_RU">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<head>
    <meta charset="utf-8">
    <title th:text="${account.login}"></title>
</head>
<body>
<div>
    <table>
        <td><a th:href="@{/logout}" th:text="${'Sign out'}"></a></td>
    </table>
</div>
<div >
    <strong th:each="r: ${account.roles}">
        <h3 th:text="${account.name + ' ' + account.lastName + '   ' + r.role}"></h3>
    </strong>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Login</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.id}">User ID</td>
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.lastName}">Last name</td>
            <td th:text="${user.age}">Age</td>
            <td th:text="${user.login}">Last name</td>
            <td th:each="role : ${user.roles}" th:switch="${role.role}">
                <span th:case="'ROLE_ADMIN'">ADMIN</span>
                <span th:case="'ROLE_USER'">USER</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>